html {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 0.2;
    padding:0;
    margin:0;
}
p{
    color: #fcfaf2;
    font-family: "Neuton";
    font-size: calc(30px + 1.6vmin);
    position: fixed; 
    padding:0 30px;
    top:0px;
}
.phrase{
    color: #fcfaf2;
    font-family: "Karla";
    font-size: calc(15px + 1vmin);
    position:fixed; 
    top: 28vmin;
    left: 4%

}


.link2{
    color: #ccdefc;
    font-size: calc(10px + 1.6vmin);
    text-decoration: none;
    padding: 0 30px; 
    position: fixed;
    right:0vmin;
    top:15px;
}

.link2:hover{
    font-weight: bold;
    color:red;
}

.container .upload-btn-wrapper{
    position:relative;
}

.upload-btn-wrapper {
    position: absolute;
    display: inline-block;
    top: 70vmin;
    left: 34%;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

img{
    max-width:400px;
    max-height:300px;
    position:absolute;
    left: 110%;
    bottom: 10vmin;
}
/*
input[type=file]{
    padding:10px;
    background:#2d2d2d;
}
*/

#editor{
    position:absolute;
    height:300px;
    width: 400px;
    position: right;
    left:70vmin;
    top:25vmin;
}

.radios{
    color: #fcfaf2;
    font-family: "Karla";
    font-size: calc(20px + 1vmin);
    position: absolute;
    top: 20vmin;
    left: 36%;

}

#Email_List{
    color:#fcfaf2;
    font-family: "Neuton";
    font-size: calc(10px + 1.6vmin);
    position:absolute; 
    left: 4%;
    top: 58vmin;
}
